<!doctype html>
<!--
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.

  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at

      https://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Material Design Lite</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="{{ url_for('static', filename='images/android-desktop.png')}}">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='images/ios-desktop.png')}}">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='images/touch/ms-touch-icon-144x144-precomposed.png')}}">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png')}}">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link rel=stylesheet href="{{ url_for('static', filename='styles.css') }}">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
    </style>
  </head>
  <body>
    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
      <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Gastronomia</span>
          <div class="mdl-layout-spacer"></div>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="search">
              <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
          </div>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">more_vert</i>
          </button>
          <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">Legal information</li>
          </ul>
        </div>
      </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="{{ url_for('static', filename='images/user.jpg')}}" class="demo-avatar">
          <div class="demo-avatar-dropdown">
            <span>hello@example.com</span>
            <div class="mdl-layout-spacer"></div>
            <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">arrow_drop_down</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item">hello@example.com</li>
              <li class="mdl-menu__item">info@example.com</li>
              <li class="mdl-menu__item"><i class="material-icons">add</i>Add another account...</li>
            </ul>
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" href="\"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">home</i>Strona główna</a>
          <a class="mdl-navigation__link" href="\life"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">directions_run</i>Menadżer życia</a>
          <a class="mdl-navigation__link" href="\menager"><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">show_chart</i>Menadżer Finansów</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">attach_money</i>Płatności</a>

          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
        </nav>
      </div>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-card__supporting-text centering">
        <font size=5px>Wychodzisz <b><span id='often'></span></b> razy na miesiąc, więc zgodnie z trybem życia możesz dzisiaj wydać <b><span id='money'></span></b> zł.<font>
        </div>
        <div class="mdl-grid demo-content">
          <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing second">
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop little-text">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                <b>Nazwa: </b>Wielka Restauracja (<span id="first-id"></span>)</br>
              </div>
            </div>
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop little-text">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
		<b>Adres: </b><span id="predicted-stan">Grabiszyńska 108</span></br>
              </div>
            </div>
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop little-text">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
		<b>Średni wydatek: </b><span id="predicted-costs">21</span> zł</br>
              </div>
            </div>

            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop little-text">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
		<b>Ocena: </b><span id="first-ocena">3</span>
              </div>
            </div>
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop little-text">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
		<b>Przykładowa opinia: </b><span id="first-opinia"></span>
              </div>
            </div>
            <div class="demo-separator mdl-cell--1-col"></div>
          </div>
<div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing first">
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop little-text">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                <b>Nazwa: </b>Pizzeria Tomato(<span id="second-id"></span>)</br>
              </div>
            </div>
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop little-text">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
		<b>Adres: </b>Warszawska 13</br>
              </div>
            </div>
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop little-text">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
		<b>Średni Wydatek: </b><span id="predicted-costs">15</span> zł</br>
              </div>
            </div>
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop little-text">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
		<b>Ocena: </b><span id="second-ocena">3</span>
              </div>
            </div>
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop little-text">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
		<b>Przykładowa opinia: </b><span id="second-opinia"></span>
              </div>
            </div>
            <div class="demo-separator mdl-cell--1-col"></div>
          </div>
          <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet mdl-grid mdl-grid--no-spacing third">
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop little-text">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                <b>Nazwa: </b>Pizzeria Brawo(<span id="third-id"></span>)</br>
              </div>
            </div>
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop little-text">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
		<b>Adres: </b><span id="predicted-stan">Piłsudzkiego 120</span></br>
              </div>
            </div>
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop little-text">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
		<b>Średni wydatek: </b><span id="predicted-costs">17</span> zł</br>
              </div>
            </div>
	    <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop little-text">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
		<b>Ocena: </b><span id="third-ocena">3</span>
              </div>
            </div>
            <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop little-text">
              <div class="mdl-card__supporting-text mdl-color-text--grey-600">
		<b>Przykładowa opinia: </b><span id="third-opinia"></span>
              </div>
            </div>
            <div class="demo-separator mdl-cell--1-col"></div>
          </div>
        </div>
      </main>
    </div>
      <a href="https://github.com/google/material-design-lite/blob/mdl-1.x/templates/dashboard/" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white">View Source</a>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script>
       var namespace = '/menager/gaz';
       var x = location.protocol + '//' + document.domain + ':' + location.port +'/life/gastro';
       var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port +'/life/gastro');
       var x;
           socket.on('dane', function(msg) {
               $('#first-id').text(msg.first.id);
               $('#first-ocena').text(msg.first.ocena);
               $('#first-opinia').text(msg.first.opinia);
               $('#second-id').text(msg.second.id);
               $('#second-ocena').text(msg.second.ocena);
               $('#second-opinia').text(msg.second.opinia);
               $('#third-id').text(msg.third.id);
               $('#third-ocena').text(msg.third.ocena);
               $('#third-opinia').text(msg.third.opinia);
               $('#often').text(msg.often);
               $('#money').text(msg.money);
           });

    </script>
  </body>
</html>
