<html>
<head>
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.css"
    rel="stylesheet" type="text/css">
<link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.css"
    rel="stylesheet" type="text/css">

<script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.5.min.js"></script>
<script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.5.min.js"></script>

</head>
<body>
<H1>Wykresy media za okres czasu</H1>

<form action="/">
<select name="date_start">
	{% for data_start in dates %}
		{% if data_start == date_start %}
			<option selected value="{{ data_start }}">{{ data_start }}</option>
		{% else %}
			<option value="{{ data_start }}">{{ data_start }}</option>
		{% endif %}
	{% endfor %}
</select>
<input type="submit"> <br>

<select name="date_end">
	{% for data_end in dates %}
		{% if data_end == date_end %}
			<option selected value="{{ data_end }}">{{ data_end }}</option>
		{% else %}
			<option value="{{ data_end }}">{{ data_end }}</option>
		{% endif %}
	{% endfor %}
</select>
<input type="submit"> <br>

<select name="typ">
	{% for tp in types %}
		{% if tp == typ %}
			<option selected value="{{ tp }}">{{ tp }}</option>
		{% else %}
			<option value="{{ tp }}">{{ tp }}</option>
		{% endif %}
	{% endfor %}
</select>
<input type="submit">
</form>

{{ script|safe }}
{{ div|safe }}


</body>
</html>
